* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  padding: 0 25px;
}

.container {
  max-width: 1200px;
  margin: 50px auto 0;
  text-align: center;
}

h1 {
  font-size: 52px;
  margin-bottom: 24px;
}

.text-primary {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 48px;
}

.description {
  color: #555;
  line-height: 1.4;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto 64px;
}

thead tr {
  background-color: #e8590c;
  color: #fff;
  font-weight: 500;
}

th,
td {
  padding: 16px;
}

th {
  font-size: 24px;
}

th:nth-child(1),
th:nth-child(2) {
  width: 20%;
}

td {
  color: #555;
  font-size: 18px;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #f1f3f5;
}

footer {
  width: 80%;
  height: 40px;
  margin: 0 auto;
}

.copyright {
  color: #777;
  font-size: 16px;
}
